VITE_API_BASE_URL=http://localhost:5000
VITE_API_CSRF_PATH=/api/v1/xxdf
VITE_API_EMAIL_LOGIN_PATH=/auth/email
VITE_API_GOOGLE_LOGIN_PATH=/auth/google
VITE_API_LOGOUT_PATH=/logout
VITE_API_USER_PATH=/api/v1/user
VITE_API_USERS_PATH=/api/v1/user/all
VITE_API_CREATE_USER_PATH=/api/v1/user/add
VITE_API_PRODUCTS_PATH=/api/v1/products
VITE_API_MATERIALS_PATH=/api/v1/materials
VITE_API_SALES_PATH=/api/v1/sales
VITE_API_SALES_SUMMARY_PATH=/api/v1/sales/analytics/summary
VITE_API_PURCHASES_PATH=/api/v1/material-purchases
VITE_AI_API_BASE_URL=http://localhost:8000
VITE_AI_API_KEY=
VITE_AI_MODEL_INFO_PATH=/api/v1/model/info
VITE_AI_MODEL_PREDICT_PATH=/api/v1/model/predict
VITE_AI_MODEL_EXPLAIN_PATH=/api/v1/model/explain
VITE_AI_MODEL_SUMMARY_PATH=/api/v1/model/summary
VITE_AI_MODEL_CHAT_PATH=/api/v1/model/chat
